{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/change-password" method="post">
        <div class="mb-3">
            <!-- <label for="current_password">Current password</label> -->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <!-- <label for="new_password">New password</label> -->
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
        </div>
        <button style="width: 10rem" class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}